.detailsContainer {
  margin-right: auto;
  margin-left: auto;
}

.link {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: 25px;
  color: rgb(12, 88, 99);
  text-shadow: 1px 1px 2px rgb(121, 188, 192), 2px 2px 5px rgb(195, 224, 220);
}

.icon {
  width: 30px;
  height: 30px;
  color: rgb(12, 88, 99);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon:hover,
.icon:focus {
  color: rgb(82, 186, 186);
}

.movieInfo {
  display: flex;
  flex-direction: row;
  gap: 38px;
  padding: 24px;
  border-radius: 16px;
  background-color: hsla(182, 57%, 82%, 0.7);
  color: rgb(64, 70, 70);
}

.genreList {
  list-style: inside;
}

.addInfo {
  padding: 24px;
  margin-top: 24px;
  border-top: 2px solid rgb(12, 88, 99);
}
.addTitle {
  color: rgb(12, 88, 99);
  text-shadow: 1px 1px 2px rgb(121, 188, 192), 2px 2px 5px rgb(195, 224, 220);
  margin-bottom: 20px;
}

.addInfoList {
  display: flex;
  align-items: center;
  gap: 24px;
}

.addInfoItem {
  width: 120px;
  font-size: 16px;
  padding: 10px 16px;
  background-color: rgb(64, 70, 70);
  outline: none;
  border: none;
  border-radius: 16px;
  cursor: pointer;
  list-style: none;
  text-align: center;
  transition: transform 0.3s ease;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.addInfoLink {
  color: rgb(105, 160, 168);
}
.addInfoItem:hover,
.addInfoItem:focus {
  background-color: rgb(12, 88, 99);
  transform: scale(1.1);
}

.addInfoItem:hover > .addInfoLink,
.addInfoItem:focus > .addInfoLink {
  color: rgb(105, 160, 168);
}

.img {
  border-radius: 16px;
}
