.form {
  margin-bottom: 24px;
  margin-right: auto;
  margin-left: auto;
  max-width: 1200px;
}

.input {
  font-size: 16px;
  padding: 10px 14px;
  margin-right: 16px;
  width: 300px;
  outline: none;
  border: 1px solid rgb(12, 88, 99);
  border-radius: 8px;
  color: rgb(12, 88, 99);
}

.input:hover,
.input:focus {
  border: 2px solid rgb(12, 88, 99);
}

.searchBtn {
  color: whitesmoke;
  font-size: 16px;
  padding: 10px 14px;
  background-color: rgb(22, 166, 128);
  outline: none;
  border: 1px solid rgb(12, 88, 99);
  border-radius: 8px;
  cursor: pointer;
}
.searchBtn:hover,
.searchBtn:focus {
  background-color: rgb(12, 88, 99);
}
