.movieList {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  gap: 17px;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0;
}

.movieItem {
  color: rgb(12, 88, 99);
  text-shadow: 1px 1px 2px rgb(121, 188, 192), 2px 2px 5px rgb(195, 224, 220);
  box-shadow: 2px 10px 12px 10px rgba(8, 11, 11, 0.36);
  width: 320px;
  height: 520px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
  justify-content: center;
  transition: transform 0.3s ease;
  background-color: hsla(182, 57%, 82%, 0.7);
}

.movieItem:hover,
.movieItem:focus {
  transform: scale(1.1);
  color: rgb(12, 88, 99);
}

.filmPoster {
  width: 280px;
  height: 380px;
  border-radius: 8px;
  object-fit: cover;
}

.title {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 10px;
  text-align: center;
  margin-top: 20px;
}
