.homePageList {
  list-style: outside;
}

.homePageTitle {
  font-size: 36px;
  color: rgb(27, 153, 173);
  margin-top: 24px;
  margin-bottom: 24px;
  padding-left: 56px;
}

.homePageLink {
  color: black;
}
.homePageLink:hover,
.homePageLink:focus {
  color: rgb(22, 166, 128);
}
