.notFound {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.text {
  background-color: hsla(180, 26%, 87%, 0.7);
  padding: 16px;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  color: rgb(99, 12, 12);
  font-size: large;
  font-weight: 600;
}

.link {
  color: rgb(12, 88, 99);
  font-weight: 900;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover,
.link:focus {
  color: rgb(82, 186, 186);
}
